In [35]:
import pandas as pd
import math

In [39]:
def age_to_binary(age):
    try:
        if math.isnan(float(age)):
            return "NaN"
        if int(age) <= 10950:
            return 'young'
        else:
            return 'old'
    except:
        return 'NaN'

In [40]:
df = pd.read_csv("../../data/Train_Dataset.csv")
df['Gender_Marital'] = df['Client_Gender'] + ' ' + df['Client_Marital_Status']
df["Age"] = df["Age_Days"].apply(age_to_binary)

C:\Users\Johan\AppData\Local\Temp\ipykernel_23680\2190463120.py:1: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../data/Train_Dataset.csv")

In [19]:
df["Young"]

KeyError: 'Young'

In [11]:
cross_tab = pd.crosstab(df["Client_Marital_Status"], df["Default"])
ratios_matrix = cross_tab.apply(lambda r: r/r.sum(), axis=1)
ratios_matrix

Default                       0         1
Client_Marital_Status
D                      0.922710  0.077290
M                      0.920926  0.079074
S                      0.903011  0.096989
W                      0.935463  0.064537

In [12]:
cross_tab = pd.crosstab(df["Client_Gender"], df["Default"])
ratios_matrix = cross_tab.apply(lambda r: r/r.sum(), axis=1)
ratios_matrix

Default               0         1
Client_Gender
Female         0.899846  0.100154
Male           0.929330  0.070670
XNA            1.000000  0.000000

In [8]:
cross_tab = pd.crosstab(df["Client_Gender"], df["Default"])
ratios_matrix = cross_tab.apply(lambda r: r/r.sum(), axis=1)
ratios_matrix

0.9293297477792081

In [41]:
cross_tab = pd.crosstab(df["Age"], df["Default"])
ratios_matrix = cross_tab.apply(lambda r: r/r.sum(), axis=1)
ratios_matrix

Default         0         1
Age
NaN      0.919547  0.080453
old      0.924359  0.075641
young    0.889404  0.110596

In [17]:
cross_tab = pd.crosstab(df["Gender_Marital"], df["Default"])
ratios_matrix = cross_tab.apply(lambda r: r/r.sum(), axis=1)
ratios_matrix

Default                0         1
Gender_Marital
Female D        0.875235  0.124765
Female M        0.907760  0.092240
Female S        0.867960  0.132040
Female W        0.876161  0.123839
Male D          0.935961  0.064039
Male M          0.928824  0.071176
Male S          0.923005  0.076995
Male W          0.938757  0.061243
XNA M           1.000000  0.000000